#foot{
    .foot-top{
        padding: 20px;
        height: 100px;
        border-bottom: 1px #e1e1e1 solid;
        border-top: 1px #e1e1e1 solid;
        ul{
            padding: 0 50px;
            width: 1100px;
            margin: 0 auto;
        }
    }
    .foot-center{
        padding: 20px 0;
        ul{
            .foot-info{
                a{
                    font-size: 14px;
                }
                div:first-child{
                    a{
                        font-size: 16px;
                        color: #212121;
                    }
                }
            }
        }
    }
    .foot-bottom {
        height: 90px;
        padding: 20px 0;
        background-color: #414141;
    }
}