.cb {
    float: none !important;
    visibility: hidden !important;
    height: 0px !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 0px !important;
    line-height: 0px !important;
    clear: both;
}

//排版
.w1200{
    width: 1200px !important;
    margin: 0 auto;
}

//字体大小
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.fs-27 {
    font-size: 27px;
}
.fs-28 {
    font-size: 28px;
}
.fs-24 {
    font-size: 24px;
}
.fw-bd {
    font-weight: bold;
}

//行高
.lh-16 {
    line-height: 16px;
}
.lh-18 {
    line-height: 18px;
}
.lh-20 {
    line-height: 18px;
}
.lh-24 {
    line-height: 24px;
}
.lh-25 {
    line-height: 25px;
}
.lh-28 {
    line-height: 28px;
}
.lh-30 {
    line-height: 30px;
}
.lh-35 {
    line-height: 35px;
}
.lh-40 {
    line-height: 40px;
}

.lh-50 {
    line-height: 50px;
}
.lh-60 {
    line-height: 60px;
}
.lh-106 {
    line-height: 106px;
}
.lh-2p2 {
    line-height: 2.2;
}


//color
.cl-0 {
    color: #000;
}
.cl-3 {
    color: #333;
}
.cl-6 {
    color: #666;
}
.cl-9 {
    color: #999;
}
.cl-c {
    color: #ccc;
}
.cl-bl{
    color: #2db4ea;
}
.cl-rd {
    color: #e4393c;;
}
.cl-f {
    color: #fff;
}
.cl-21{
    color: #212121;
}

//display
.db {
    display: block;
}
.dn {
    display: none;
}
.dis-fl {
    display: flex;
}

.fl-itm{
    align-items:center;
}


//margin

.ma-2 {
    margin: 2px;
}
.ma-16 {
    margin: 16px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-50 {
    margin-right: 50px;
}
.ml-140 {
    margin-left: 140px;
}

.ml-10 {
    margin-left: 10px;
}
.ml-23 {
    margin-left: 23px;
}
.ml-35 {
    margin-left: 35px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ma {
    margin: 0 auto;
}
.ma-0406 {
    margin: 4px 6px;
}
.mt-2 {
    margin-top: 2px;
}
.mt-4 {
    margin-top: 4px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-7 {
    margin-top: 7px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-90 {
    margin-top: 90px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ma-10 {
    margin: 10px 10px 0 0;
}

//padding
.pd-5 {
    padding: 5px;
}
.pd-10 {
    padding: 10px;
}
.pd-15 {
    padding: 15px;
}
.pd-16 {
    padding: 16px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pd-0500 {
    padding: 5px 0;
}
.pd-0010 {
    padding: 0 10px;
}
.pd-0015 {
    padding: 0 15px;
}
.pd-0020 {
    padding: 0 20px;
}
.pd-0030{
    padding: 0 30px;
}
.pd-1030 {
    padding: 10px 30px;
}
.pd-3040 {
    padding : 30px 40px;
}
.pd-3500 {
    padding : 35px 0;
}
.pd-1900 {
    padding: 19px 0;
}
.pd-2000 {
    padding: 20px 0;
}
.pd-0208 {
    padding: 2px 8px;
}
.pd-0415 {
    padding: 2px 8px;
}
.pd-05100010{
    padding: 5px 10px 0 10px;
}

//背景颜色
.bk-rd {
    background: red;
}

.bc-f {
    background-color: #fff;
}
.bc-f3 {
    background-color: #f3f3f3;;
}

.bc-bl {
    background-color: #2ab4e8;
}
.bc-e5 {
    background-color: #e5e5e5;
}
.bc-bl-l {
    background-color: #d5f0fb;
}
.bc-f5 {
    background-color: #f5f5f5;
}
.bc-dg {
    background-color: #b0b0b0;
}
//border
.bd-1-f5 {
    border: 1px #f5f5f5 solid;
}

.bd-1-a {
    border: 1px #aaa solid;
}
.bb-1-dd {
    border: 1px #dddcdc solid;
}
.bd-no { 
    border: none;
}
.bt-no{
    border-bottom: none;
}
.bb-rd {
    border-radius: 100%; 
}
.bb-rd-4 {
    border-radius: 4px; 
}
.br-20 {
    border-radius: 20px;
}
.bt-1-e8 {
    border-top: 1px #e8e8e8 solid;
}
.bb-1-e8 {
    border-bottom: 1px #e8e8e8 solid;
}
.bb-1-e {
    border-bottom: 1px #eee solid;
}

.bd-1-e8 {
    border: 1px #e8e8e8 solid;
}

.bd-1-c {
    border: 1px #ccc solid;
}
.br-1-e8{
    border-right: 1px #e8e8e8 solid;
}
.bd-1-bl-d {
    border: 1px #38b8eb solid;
}
.bd-1-bl-l {
    border: 1px #1697ca solid;
}
.bd-2-2b {
    border: 2px #2db4ea solid;
}
.bd-wd-1010{
    border-width: 1px 0 1px 0;
}
.bd-wd-1101{
    border-width: 1px 1px 0 1px;
}
.bd-wd-l0 {
    border-left-width: 0;
}
//position
.pr {
    position: relative;
}
.pa {
    position: absolute;
}

.tp-2 {
    top: 2px;
}

//浮动
.fl{
    float: left;
}

.fr{
    float: right;
}

.fw-bd {
    font-weight: bold;
}


//宽度

.wd-25p {
    width: 25%;
}
.wd-20p {
    width: 20%;
}
.wd-200p {
    width: 200%;
}
.wd-33p {
    width: 33.33333333333333%;
}
.wd-1000p {
    width: 1000%;
}

.wd-16{
    width: 16px;
}
.wd-30{
    width: 30px;
}
.wd-46{
    width: 46px;
}
.wd-56{
    width: 56px;
}
.wd-70{
    width: 70px;
}
.wd-76{
    width: 76px;
}
.wd-80{
    width: 80px;
}
.wd-90{
    width: 90px;
}
.wd-100p{
    width: 100px;
}
.wd-110{
    width: 110px;
}
.wd-113{
    width: 113px;
}
.wd-116{
    width: 116px;
}
.wd-120{
    width: 120px;
}
.wd-160{
    width: 160px;
}
.wd-200{
    width: 200px;
}
.wd-218{
    width: 218px;
}
.wd-220{
    width: 218px;
}
.wd-250{
    width: 250px;
}
.wd-266 {
    width: 266px;
}
.wd-300 {
    width: 300px;
}
.wd-306 {
    width: 306px;
}
.wd-330 {
    width: 330px;
}
.wd-380 {
    width: 380px;
}
.wd-430{
    width: 430px;
}
.wd-450{
    width: 450px;
}
.wd-485{
    width: 485px;
}
.wd-520 {
    width: 520px;
}
.wd-585 {
    width: 585px;
}
.wd-605 {
    width: 605px;
}
.wd-720 {
    width: 720px;
}
.wd-930 {
    width: 930px;
}
.wd-838{
    width: 838px;
}
.wd-980 {
    width: 980px;
}

//text-align
.ta-ct {
    text-align: center;
}
.ta-rt{
    text-align: right;
}

//高度
.ht-16 {
    height: 16px;
}
.ht-24 {
    height: 24px;
}
.ht-30 {
    height: 30px;
}

.ht-35{
    height: 35px;
}
.ht-36{
    height: 36px;
}
.ht-38{
    height: 38px;
}
.ht-46{
    height: 46px;
}
.ht-50{
    height: 50px;
}
.ht-57{
    height: 57px;
}
.ht-50 {
    height: 50px;
}
.ht-60 {
    height: 50px;
}
.ht-70 {
    height: 70px;
}
.ht-76 {
    height: 76px;
}
.ht-80 {
    height: 80px;
}
.ht-92 {
    height: 92px;
}
.ht-100p{
    height: 100px;
}
.ht-160{
    height: 160px;
}
.ht-104{
    height: 104px;
}
.ht-112{
    height: 112px;
}
.ht-200{
    height: 200px;
}
.ht-218{
    height: 218px;
}
.ht-242{
    height: 242px;
}
.ht-300{
    height: 300px;
}
.ht-430{
    height: 430px;
}
.ht-600{
    height: 600px;
}
.ht-930{
    height: 790px;
}
.ht-100 {
    height: 100%;
}
.ov-hd{
    overflow: hidden;
}

//注册页面


.reg-bar {
    position: absolute;
    top: 0;
    background: #e8e8e8;
}

.reg-btn {
    width: 330px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: 1px #2db4ea solid;
    background-color: #2db4ea;
    cursor: pointer;
}
.cp{
    cursor: pointer;
}
.active {
    color: #fff;
    background: #2db4ea;
}
.step-1 {
    left: 0;
}
.step-2 {
    right: 0;
}
.tra-sca {
    transform:scale(1);
}

//单行超出省略
.to-hd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//图片缩放
.scale {
    transition: all 0.5s ease 0s;
}
.scale:hover {
    transform:scale(1.1);
}

//图片属性
.bgimg {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.op-0{
    opacity: 0;
}
.btn-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



